.Rproj.user
.Rhistory
.RData
.Ruserdata
# Stan binaries and local installs
cmdstan/
# Model outputs (usually too big for Git)
*.rds
*.RData
*.csv
*.jpeg
*.png
*.png
/outputs
Data/Bioclive_microclimate_shield_2024.csv
