.Rproj.user
.Rhistory
.RData
.Ruserdata
# Stan binaries and local installs
cmdstan/
# Model outputs (usually too big for Git)
*.rds
*.RData
*.csv
*.jpeg
*.png
*.png
/outputs
Data/Bioclive_microclimate_shield_2024.csv
# Stan / CmdStan binaries and output files
*.exe
*.o
*.so
*.dll
*.rds
*_cmdstan.csv
.cmdstanr/

# Temp files created by brms / cmdstanr
file*.stan
file*.json